<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.wms.warehouse.mappers.SectionMapper">

    <resultMap id="SectionMap" type="com.ssg.wms.warehouse.domain.SectionDTO">
        <id property="sIndex" column="section_index" />
        <result property="sCode" column="section_code" />
        <result property="sName" column="section_name" />
        <result property="sCapacity" column="section_capacity" />
        <result property="wIndex" column="warehouse_index" />
        <result property="sType" column="section_type" />
        <result property="currentUsed" column="current_used_capacity" />
    </resultMap>

    <insert id="insertSection" useGeneratedKeys="true" keyProperty="sIndex">
        insert into section(
        section_code,
        section_name,
        section_capacity,
        section_type,
        warehouse_index
        ) values(
        #{sCode},
        #{sName},
        #{sCapacity},
        #{sType},
        #{wIndex}
        )
    </insert>

    <select id="getSectionsWithUsage" resultMap="SectionMap">
        SELECT
        s.section_index,
        s.section_code,
        s.section_name,
        s.section_capacity,
        s.warehouse_index,
        s.section_type,
        COALESCE(SUM(inv.inven_quantity), 0) AS current_used_capacity
        FROM section s
        LEFT JOIN inventory inv ON s.section_index = inv.section_index
        WHERE s.warehouse_index = #{wIndex}
        GROUP BY s.section_index, s.section_code, s.section_name, s.section_capacity, s.warehouse_index, s.section_type
    </select>

    <select id="getCurrentTotalCapacity" resultType="int">
        SELECT COALESCE(SUM(section_capacity), 0)
        FROM section
        WHERE warehouse_index = #{wIndex}
    </select>

    <select id="checkDuplicateSectionName" resultType="int">
        SELECT COUNT(*)
        FROM section
        WHERE warehouse_index = #{wIndex}
        AND section_name = #{sName}
    </select>
</mapper>
